extends home2
block content
  div(class="container valign-wrapper" style="height:75vh;")
    div(class="row center")
      div(class="col s12 valign")
        p HAVE A QUESTION? FOUND A BUG? WANT TO SUGGEST A FEATURE?
        p SEND AN 
          a(href="mailto:team@socialroyale.com") EMAIL
