body{
  font-family: "Raleway", serif;
}

#gameCodeId{
  font-family: "Inconsolata", serif;
  font-size: 120%;
}

.my-nav a{
  color: black;
}

ul.dropdown-content.select-dropdown li span {
  color: #000;
}

button{
  margin: 4px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-stacked{
  display: inline-block;
}
