extends home2
block login
  button(type='button' class="btn white black-text waves-effect waves-dark" id='glogin' onclick='signInWithGoogle()') SIGN IN WITH GOOGLE
    img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1004px-Google_%22G%22_Logo.svg.png" width="20" height="20" style="margin-left:10px; margin-bottom: -5px")
block content
  div(class="container valign-wrapper" style="height:75vh;")
    div(class="row center")
      div(class="col s12 valign")
        p ARE YOU TRULY THE BEST? OR JUST AT PRETENDING TO BE?
